<% provide(:title, "users answers") %>
<h1>result</h1>
 
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= @category_name %>  <%= @count_words %> <%= @i %>/5</h2>
    <table style="width:40%">
      <tr>
        <h2><td>word</td></h2>
        <h2><td>answer</td></h2>		
        <h2><td>result</td></h2>
      </tr>
    </table>
    <table style="width:40%">
      <% @s.each do |f|%>
  	<tr>
  	  <% f.each do |c| %>
  	    <td>
  	      <%= c %>
  	    </td>
  	  <% end %>
  	</tr>
      <% end %>
    </table>
  </div>
</div>
